body {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#right-bar {
    float: right;
}

#aboutApp {
    display: block;
}

#loginApp {
    display: none;
}

#userNameContainer {
    display: none;
}

#virusApp {
    display: none;
}